@{
    ViewBag.Title = "Scan Monitor";

    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("ScanData"),
        LoadingElementId = "loadingIndicator"
    };
}

<h2>Scanning Monitor</h2>

@using (Ajax.BeginForm("Scan", "Scan", options))
{
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-info" role="button" href="Start" style="margin: 6px;">Start</a>
                    <a class="btn btn-warning" role="button" href="Pause" style="margin: 6px;">Pause</a>
                    <a class="btn btn-primary" role="button" href="Resume" style="margin: 6px;">Resume</a>
                    <a class="btn btn-danger" role="button" href="Stop" style="margin: 6px;">Stop</a>
                </div>
            </div>
            <div>
                <div class="progress progress_line-bg" style="padding: 10px;margin-top:10px">
                    <div class="progress_line progress-bar progress-bar-striped bg-success"
                         role="progressbar"
                         aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         id="progress_line"></div>
                </div>
            </div>
            <script>
                function progress() {
                    let elem = document.getElementById('progress_line'),
                        width = 1,
                        id = setInterval(progressStatus, 100);
                    function progressStatus() {
                        if (width > 100) {
                            clearInterval(id);
                        } else {
                            const xhr = new XMLHttpRequest()

                            xhr.open('GET', 'GetHandlingUrlsCounter')

                            xhr.onload = () => {
                                width = xhr.response;
                            }
                            xhr.send()

                            elem.style.width = width + '%';
                            elem.textContent = width + '%';
                        }
                    }
                }
                progress()
            </script>
            <h4>Scan status</h4>
            <p>
                @Html.DropDownList("status", new SelectList(new[] { "All", "Loading", "Found", "NotFound", "Failure" }, (Model ?? "All")))
                <input type="submit" value="Search" />
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Url</th>
                        <th>ScanStatus</th>
                        <th>DateStart</th>
                        <th>DateEnd</th>
                        <th>FailureReason</th>
                        <th>UrlParent</th>
                    </tr>
                </thead>
                <tbody id="tabledata">
                    @Html.Action("ScanData", new { id = Model })
                </tbody>
            </table>
        </div>
    </div>
}
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}